<h1 id="name"><%= @user.name %></h1>
</br>
</br>
<div data-id="<%=@user.id%>" id="degrees">
</div>
<div class="message">
</div>
</br>

<% if current_user == @user %>
<%= render partial: 'errors', locals: {record: @user} %>
<%= render partial: 'degrees/form', locals: {user: @user, degree: @degree} %>
<% else %>
<a href="" class="js-next">Next User</a>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    add();
    createList();
    nextUser();
    formSubmit();
  });


  function nextUser() {
    $('.js-next').on('click', function(e) {
        e.preventDefault();
        var id = $('#degrees').data("id");
        var indi = list.indexOf(id);
         list[indi+1] <= list[list.length-1] ? id = list[indi+1] : id = list[0];
        $('#degrees').data("id", id);
        var url = "/users/" + id + "/degrees";
        addDegrees(url);
    });
  }

  function formSubmit() {
    $('form').submit(function(event) {
      event.preventDefault();
      var fields = $(this).serialize();
      var id = $('#degrees').data("id");
      $.post("/users/" + id + "/degrees", fields).done(function(data) {

          add();
          var name = data["degree"]["name"];
          var gpa = data["degree"]["gpa"];
          var year = data["degree"]["year"];
          var school = data["degree"]["school"]["name"];
          var city = data["degree"]["school"]["city"];
          var deg = new Degree(name, gpa, year, school, city);
          $('.message').text(deg.sayMessage());
      });
    });
  }
</script>
