<h1><%= @user.name %></h1>
</br>
</br>

 <div data-id="<%=@user.id%>" id="degrees">

 </div>

</br>

<%= render partial: 'form', locals: {user: @user, degree: @degree} %>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
    add();
  });

function add() {
  var id = $('#degrees').data("id");
  var url = "/users/" + id + "/degrees";
  var method = "GET";
  $.ajax({
    url: url,
    method: method,
    dataType: "json"
  }).done(function(data) {
    data["degrees"].forEach(function(x) {
      var list = "<h3>" + x["school"]["name"] + " (" + x["school"]["city"] + ")</h3>";
      list += "<p>" + x["name"] + "</p>";
      list += "<p>GPA: " + x["gpa"] + "</p></br>";
      $('#degrees').append(list);
    });
  });
}
</script>
