<h1><%= @user.name %></h1>
</br>
</br>

 <div data-id="<%=@user.id%>" id="degrees">
 </div>

</br>

<%= render partial: 'form', locals: {user: @user, degree: @degree} %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    add();
  });
</script>
